<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:fb="https://ogp.me/ns/fb#">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Tandy MC-10 Emulator in Javascript">
    <meta name="keywords"
        content="Tandy, mc-10, mc10, emulator, emulation, javascript, trs-80, trs80, radio shack, radioshack">
    <meta name="viewport" content="width=device-width">
    <title>MC-10 Javascript Emulator</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/5f89775b0b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="mc10.css?v=6">
    <script src="//apis.google.com/js/platform.js" async defer></script>
    <script src="//unpkg.com/eta@1.13.0/dist/browser/eta.min.js" type="module" async defer></script>
    <meta property="og:title" content="MC-10 Emulator in Javascript" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://mc-10.com/images/mc10_ss.jpg" />
    <meta property="og:url" content="https://mc-10.com" />
    <meta property="og:site_name" content="MC-10 Javascript Emulator" />
    <meta property="fb:admins" content="701869110" />
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=202303830100&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="https://browsehappy.com/">Upgrade to a different browser</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div id="tv">
        <canvas id="screen" width="512" height="384">
            Your browser is not supported. Try Google Chrome.
        </canvas>
        <div id="retrovibes">
            <div class="overlay"></div>
            <img class="tv" src="images/oldskooltv.png">
        </div>
    </div>
    <div id="controls">
        <label for="goretro" class="checkbox">Retro</label>
                <input id="goretro" name="goretro" type="checkbox" class="button" value="Go Retro" checked />
                <input id="reset" class="button" type="button" value="Reset" />
                <input type="button" id="record" class="button" value="Record" />
                <input type="button" id="debug" class="button" value="Debug" />
                <input type="button" id="kbd" class="button" value="Keyboard" />
                <div id="file-chooser" class="button">
                    <label>Choose File</label>
                </div>
                <input type="file" id="wavcassette" name="wavcassette" accept=".txt,.bas,.c10,.cas,.wav" />

                <select id="cassetteList" class="button" name="cassetteList">
                    <option value="">- Select Cassette -</option>
                    <optgroup label="CoCo Ports">
                        <option value="ML/SPACEASSAULT.c10">Space Assault [Type EXEC to start]</option>
                        <option value="ML/GUNTUS.c10">Guntas [Type EXEC to start]</option>
                    </optgroup>
                    <optgroup label="Darren Atkinson">
                        <option value="ML/ASTROIDS.c10">Asteroids [Type EXEC to start]</option>
                        <option value="ML/MC_BOUNCY_BALL.c10">MC Bouncy Ball [Type EXEC to start]</option>
                        <option value="ML/MC_FLAGON_BIRD.c10">MC Flagon Bird [Type EXEC to start]</option>
                    </optgroup>
                    <optgroup label="Greg Dionne">
                        <option value="ML/PAC-Man.C10">Pac-Man [Type EXEC to start]</option>
                        <option value="ML/TETRIS.C10">Tetris [Type EXEC to start]</option>
                        <option value="ML/KALEIDOSCOPE.C10">Kaleidoscope [Type EXEC to start]</option>
                        <option value="ML/RG2LIFE.C10">Conway's Life [Type EXEC to start]</option>
                    </optgroup>
                    <optgroup label="Tandy">
                        <option value="ML/PINBALL.C10">Pinball [Type EXEC to start]</option>
                        <option value="BASIC/MINICALC.C10">Minicalc [Type RUN to start]</option>
                        <option value="BASIC/CHECKERS.C10">Checkers [Type RUN to start]</option>
                        <option value="BASIC/BREAKOUT.C10">Breakout [Type RUN to start]</option>
                        <option value="BASIC/EGGS.C10">Eggs [Type RUN to start]</option>
                        <option value="BASIC/HORSE.C10">Horse [Type RUN to start]</option>
                        <option value="BASIC/LANDER.C10">Lander [Type RUN to start]</option>
                        <option value="BASIC/PONG.C10">Pong [Type RUN to start]</option>
                    </optgroup>
                    <optgroup label="Charles Pelosi">
                        <option value="BASIC/DEMON_ATTACK.C10">Demon Attack [Type RUN to start]</option>
                        <!--<option value="aster64.C10">Aster64 (Charles Pelosi)</option>-->
                        <option value="BASIC/BLOCK_DROP.C10">Block Drop [Type RUN to start]</option>
                        <option value="BASIC/DEFEND.C10">Defend [Type RUN to start]</option>
                        <option value="BASIC/DRAGON_CASTLES.C10">Dragon Castles [Type RUN to start]</option>
                        <option value="BASIC/FREEWAY.C10">Freeway [Type RUN to start]</option>
                        <option value="BASIC/ROADRACE.C10">Roadrace [Type RUN to start]</option>
                    </optgroup>
                    <optgroup label="Jim Gerrie">
                        <option value="BASIC/CRAWL.C10">Crawl [Type RUN to start]</option>
                        <option value="BASIC/MAHJONG.C10">Mahjong [Type RUN to start]</option>
                        <option value="BASIC/KLONDIKE.C10">Klondike [Type RUN to start]</option>
                        <option value="BASIC/PITMAN.C10">Pitman [Type RUN to start]</option>
                        <option value="BASIC/BERZERK.C10">Berzerk [Type RUN to start]</option>
                        <option value="BASIC/CAVE3D.C10">Cave 3D [Type RUN to start]</option>
                        <option value="BASIC/CHESS.C10">Chess [Type RUN to start]</option>
                        <option value="BASIC/FROG.C10">Frog [Type RUN to start]</option>
                        <option value="BASIC/INVADER.C10">Invader [Type RUN to start]</option>
                        <option value="BASIC/LANDERJG.C10">Lander [Type RUN to start]</option>
                        <option value="BASIC/ROVER.C10">Rover [Type RUN to start]</option>
                        <option value="BASIC/PENGUINO.C10">Penguino [Type RUN to start]</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="BASIC/LEAPFROG.C10">Leapfrog [Type RUN to start]</option>
                        <option value="BASIC/KALEIDOA.C10">Kaleidoscope [Type RUN to start]</option>
                        <option value="ML/PUMPKIN.C10">Pumpkin Patch [Type EXEC to start]</option>
                    </optgroup>
                </select>
    </div>

    <div id="about">
        Copyright 2023 © <a href="https://github.com/mtinnes">
            Mike
            Tinnes
        </a>
    </div>

    <div id="babble-container">
        <div class="babble">
            <h2>
                MC-10 Emulator
            </h2>
            <p>
                Yet another javascript emulator, this time for the legendary *ahem* <a
                    href="https://en.wikipedia.org/wiki/TRS-80_MC-10">
                    MC-10 microcomputer
                </a> by Tandy Corp!
            </p>
            <p>
                Purely the result of one persons (me) sentimental journey
                into his childhood days of PEEK'ing and POKE'ing. Source is available on <a
                    href="https://github.com/mtinnes/mc-10">GitHub</a>.
            </p>
            <h3>
                Shameless Plug
            </h3>
            <p>
                <a href="https://www.catalystllc.biz">https://www.catalystllc.biz</a>
            </p>
            <p>
                <fb:like href="https://mc-10.com" layout="standard" action="like" show_faces="true" share="true">
                </fb:like>
            </p>
            <p>
                <g:plusone></g:plusone>
            </p>
            <p>
                <a class="github-button" href="https://github.com/mtinnes">Follow @mtinnes</a>
                <a class="github-button" href="https://github.com/mtinnes/mc-10"
                    aria-label="Star mtinnes/mc-10 on GitHub">Star</a>
            </p>
        </div>
        <div class="babble">
            <h3>
                How to do it...
            </h3>
            <p>
                The keyboard is mapped directly to the original MC-10 <b>physical layout</b> so
                you'll have to reference <a href="/images/139100-trs80.jpg" target="_blank">this</a>.
                Use the file button to upload .C10 cassette files or select one from the list.
            </p>
            <p>
                Use Shift+0 to toggle between upper and lowercase characters.
            </p>
            <p>
                Use Control+0 to cycle the cursor amongst the various colors.
            </p>
            <p>
                Use Shift+@ to pause a BASIC program. Press any other key to resume.
            </p>
            <p>
                Use ESC to emulate the BREAK key.
            </p>
            <p>
                The "Record" button can be pressed before typing CSAVE or CSAVE*. You'll get prompted for a
                filename once it's all done. It saves as a .c10 file.
            </p>
            <p>
                "Choose File" will start typing a text file in BASIC. If the file is a .c10 or a .wav file it will
                instead emulate reading it via cassette. (You will need to previously enter a CLOAD, CLOADM, or
                CLOAD* command).
            </p>
        </div>
    </div>
    <form id="download-form" method="post" action="/SaveCassette.ashx">
        <input type="hidden" id="cassette-data" name="cassette-data" />
        <input type="hidden" id="filename" name="filename" />
    </form>

    <div id="keyboard" class="hidden">
    </div>

    <div id="debugger">
        <div id="header">
            <h2><i class="fa-sharp fa-solid fa-bugs"></i> Debugger</h2>
            <div id="close">
                <i class="fa-sharp fa-solid fa-rectangle-xmark"></i>
            </div>
        </div>
        <div id="debugoptions">
            <fieldset>
                <legend>Radix</legend>
                <div>
                    <input type="radio" id="base2" name="radix" value="2" checked>
                    <label for="base2">Base 2</label>
                </div>
                <div>
                    <input type="radio" id="base4" name="radix" value="4">
                    <label for="base4">Base 4</label>
                </div>
                <div>
                    <input type="radio" id="base8" name="radix" value="8">
                    <label for="base8">Base 8</label>
                </div>
                <div>
                    <input type="radio" id="base10" name="radix" value="10">
                    <label for="base10">Base 10</label>
                </div>
                <div>
                    <input type="radio" id="base16" name="radix" value="16" checked="checked">
                    <label for="base16">Base 16</label>
                </div>
            </fieldset>
        </div>
        <div id="history">
        </div>
        <div id="debugcontrols">
            <button onclick="mc10.break(); debug();"><i class="fa-sharp fa-solid fa-pause"></i> Break</button>
            <button onclick="mc10.step(); debug();">Step In</button>
            <button onclick="mc10.stepOut(); debug();">Step Out</button>
            <button onclick="mc10.run()"><i class="fa-sharp fa-solid fa-play"></i> Run</button>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="MC10.js?v=1" type="text/javascript"></script>
    <script type="text/javascript">
        var mc10 = new MC10({
            maxRam: 0x8fff,
            onDebug: function () {
                debug();
            }
        });
        var charBuffer = [];
        var idx = 0;
        var radix = 16;
        var keys = [
            [
                { key: '1', ctrl: 'RUN', shift: '!' },
                { key: '2', ctrl: 'CONT', shift: '"' },
                { key: '3', ctrl: 'CSAVE', shift: '#' },
                { key: '4', ctrl: 'CLOAD', shift: '$' },
                { key: '5', ctrl: 'NEW', shift: '%' },
                { key: '6', ctrl: 'LIST', shift: '&' },
                { key: '7', ctrl: 'CLEAR', shift: '\'' },
                { key: '8', ctrl: 'CLS', shift: '(' },
                { key: '9', ctrl: 'PRINT', shift: ')' },
                { key: '0', ctrl: 'COLOR', shift: 'inv' },
                { key: ':', ctrl: 'END', shift: '*' },
                { key: '-', ctrl: 'STOP', shift: '=' }
            ],
            [
                { key: 'Q', ctrl: 'L.DEL.', shift: '', special: ' ' },
                { key: 'W', ctrl: '⬆', shift: '', special: '▗' },
                { key: 'E', ctrl: 'SET', shift: '', special: '▖' },
                { key: 'R', ctrl: 'RESET', shift: '', special: '▄' },
                { key: 'T', ctrl: 'READ', shift: '', special: '▝' },
                { key: 'Y', ctrl: 'RESTORE', shift: '', special: '▐' },
                { key: 'U', ctrl: 'FOR', shift: '' },
                { key: 'I', ctrl: 'NEXT', shift: '' },
                { key: 'O', ctrl: 'STEP', shift: '' },
                { key: 'P', ctrl: 'INKEY$', shift: '' },
                { key: '@', ctrl: 'INPUT', shift: '' },
                { key: 'BREAK', ctrl: '', shift: '' }
            ],
            [
                { key: 'A', ctrl: '⬅', shift: '', special: '▞ ' },
                { key: 'S', ctrl: '➡', shift: '', special: '▟' },
                { key: 'D', ctrl: 'GOSUB', shift: '', special: '▘' },
                { key: 'F', ctrl: 'RETURN', shift: '', special: '▚' },
                { key: 'G', ctrl: 'IF', shift: '', special: '▍' },
                { key: 'H', ctrl: 'THEN', shift: '', special: '' },
                { key: 'J', ctrl: 'GOTO', shift: '' },
                { key: 'K', ctrl: 'SOUND', shift: '' },
                { key: 'L', ctrl: 'PEEK', shift: '' },
                { key: ';', ctrl: 'POKE', shift: '+' },
                { key: 'ENTER', ctrl: '', shift: '' }
            ],
            [
                { key: 'CONTROL', ctrl: '', shift: '', special: '' },
                { key: 'Z', ctrl: '⬇', shift: '', special: '▙' },
                { key: 'X', ctrl: 'SGN', shift: '', special: '▀' },
                { key: 'C', ctrl: 'INT', shift: '', special: '▜' },
                { key: 'V', ctrl: 'RND', shift: '', special: '▛' },
                { key: 'B', ctrl: 'ABS', shift: '', special: '█' },
                { key: 'N', ctrl: 'SIN', shift: '' },
                { key: 'M', ctrl: 'COS', shift: '' },
                { key: ',', ctrl: 'TAN', shift: '' },
                { key: '.', ctrl: 'LOG', shift: '+' },
                { key: '/', ctrl: 'SQR', shift: '' },
                { key: 'SHIFT', ctrl: '', shift: '' }
            ]
        ];

        var historyTemplate = '<table> \
            <thead> \
                <tr> \
                    <th></th> \
                    <th>Cycle</th> \
                    <th>PC</th> \
                    <th>Inst</th> \
                    <th>Flags HINZVC</th> \
                    <th>A</th> \
                    <th>B</th> \
                    <th>D</th> \
                    <th>X</th> \
                    <th>S</th> \
                </tr> \
            </thead> \
            <tbody id="instructions"> \
                <% it.forEach(item => { %> \
                    <tr> \
                    <% if (item.diffCycle === 0) { %> \
                        <td class="icon"><div></div></td> \
                        <td class="cycle"><%= item.diffCycle %></td> \
                        <td class="pc"><%= item.pc.toString(16) %></td> \
                        <td class="inst"><%= item.inst %></td> \
                        <td class="flags"><%~ include("flags-edit", item) %></td> \
                        <td class="a"><input class="register" type="text" id="input-a" oninput="updateRegister(this)" value="<%= item.a.toString(radix) %>" /></td> \
                        <td class="b"><input class="register" type="text" id="input-b" oninput="updateRegister(this)" value="<%= item.b.toString(radix) %>" /></td> \
                        <td class="d"><input class="register" type="text" id="input-d" oninput="updateRegister(this)" value="<%= item.d.toString(radix) %>" /></td> \
                        <td class="x"><input class="register" type="text" id="input-x" oninput="updateRegister(this)" value="<%= item.x.toString(16) %>" /></td> \
                        <td class="s"><input class="register" type="text" id="input-s" oninput="updateRegister(this)" value="<%= item.s.toString(16) %>" /></td> \
                    <% } else { %> \
                        <td class="icon"><div></div></td> \
                        <td class="cycle"><%= item.diffCycle %></td> \
                        <td class="pc"><%= item.pc.toString(16) %></td> \
                        <td class="inst"><%= item.inst %></td> \
                        <td class="flags"><%~ include("flags", item) %></td> \
                        <td class="a"><%= item.a.toString(radix) %></td> \
                        <td class="b"><%= item.b.toString(radix) %></td> \
                        <td class="d"><%= item.d.toString(radix) %></td> \
                        <td class="x"><%= item.x.toString(16) %></td> \
                        <td class="s"><%= item.s.toString(16) %></td> \
                    <% } %> \
                    </tr> \
                <% }) %> \
            </tbody> \
        </table>';

        var flagsTemplate = '<div id="flags"> \
            <% if (it.flags.h === 1) { %><div class="set">H</div><% } else { %><div>.</div><% } %> \
            <% if (it.flags.i === 1) { %><div class="set">I</div><% } else { %><div>.</div><% } %> \
            <% if (it.flags.s === 1) { %><div class="set">N</div><% } else { %><div>.</div><% } %> \
            <% if (it.flags.z === 1) { %><div class="set">Z</div><% } else { %><div>.</div><% } %> \
            <% if (it.flags.o === 1) { %><div class="set">V</div><% } else { %><div>.</div><% } %> \
            <% if (it.flags.c === 1) { %><div class="set">C</div><% } else { %><div>.</div><% } %> \
            </div>';

        var flagsEditTemplate = '<div id="flags"> \
            <input class="flags-edit" type="checkbox" id="flag-h" value="true" onclick="updateFlag(this)" <% if (it.flags.h === 1) { %>checked="true"<% } %>" /> \
            <input class="flags-edit" type="checkbox" id="flag-i" value="true" onclick="updateFlag(this)" <% if (it.flags.i === 1) { %>checked="true"<% } %>" /> \
            <input class="flags-edit" type="checkbox" id="flag-s" value="true" onclick="updateFlag(this)" <% if (it.flags.s === 1) { %>checked="true"<% } %>" /> \
            <input class="flags-edit" type="checkbox" id="flag-z" value="true" onclick="updateFlag(this)" <% if (it.flags.z === 1) { %>checked="true"<% } %>" /> \
            <input class="flags-edit" type="checkbox" id="flag-o" value="true" onclick="updateFlag(this)" <% if (it.flags.o === 1) { %>checked="true"<% } %>" /> \
            <input class="flags-edit" type="checkbox" id="flag-c" value="true" onclick="updateFlag(this)" <% if (it.flags.c === 1) { %>checked="true"<% } %>" /> \
            </div>';

        var keyTemplate = '\
            <% it.forEach(row => { %> \
                <div class="row"> \
            <% row.forEach(item => { %> \
            <% if (item.shift) { %> <div class="key shift"> <% } else { %> <div class="key"> <% } %> \
            <% if (item.shift) { %> \
                <span class="control"><%= item.ctrl %></span> \
                <span><%= item.shift %></span> \
                <span><%= item.key %></span> \
            <% } else { %> \
                <span class="control"><%= item.ctrl %></span> \
                <span><%= item.key %></span> \
                <% if (item.special) { %><span class="special"><%= item.special %></span><% } %> \
            <% } %> \
            </div> \
            <% }) %> \
            </div> \
            <% }) %>';

        //jQuery.event.props.push('dataTransfer');

        $("#screen").bind('dragover dragend', function (e) {
            return false;
        });

        $("#screen").bind("keydown keypress", function (e) {
            if (e.which == 8 || e.which == 32) { // 8 == backspace, 32 == spacebar
                e.preventDefault();
            }
        });

        // $(document).keydown(function(e) {
        //     if (e.ctrlKey) { // 8 == backspace, 32 == spacebar
        //         e.preventDefault();
        //         return false;
        //     }
        // });

        $("#reset").bind("click", function (e) {
            mc10.reset();
        });

        $("#paste").bind("click", function (e) {
        });

        $("#kbd").bind("click", function (e) {
            $("#keyboard").toggleClass("hidden");
        });

        $("#file-chooser").bind("click", function (e) {
            $("#wavcassette").trigger("click");
        });

        $('#goretro').on('change', function () {
            if (this.checked) {
                $('#retrovibes').removeClass('hide');
            } else {
                $('#retrovibes').addClass('hide');
            }
        });

        $("#debug, #close").bind("click", function (e) {
            var toggle = mc10.toggleDebug();
            if (toggle) {
                $("#debugger").show();
            } else {
                $("#debugger").hide();
                mc10.run();
            }
        });

        $("#wavcassette").bind("change", function (e) {
            handleWavFileSelect(e);
        });

        $("#cassetteList").bind("change", function (e) {
            loadCassette();
        });

        $("#record").bind("click", function (e) {
            mc10.record(function (buffer) {
                var fname = prompt("Filename?");
                clientDownload(fname + '.c10', buffer);
            });
        });

        $(document).ready(function () {
            mc10.reset();
            mc10.run();

            $("#debugger").draggable({ handle: "#header" });
            $("#keyboard").draggable();

            $(document).on('change', '[type="radio"]', function () {
                radix = $(this).val();
                debug();
            });

            setTimeout(function () {
                var html = Eta.render(keyTemplate, keys);
                document.getElementById('keyboard').innerHTML = html;
            }, 2000);
        });

        function debug() {
            if (Eta !== undefined) {
                Eta.templates.define('flags', Eta.compile(flagsTemplate));
                Eta.templates.define('flags-edit', Eta.compile(flagsEditTemplate));

                var html = Eta.render(historyTemplate, mc10.historyBuffer.slice().reverse());
                document.getElementById('history').innerHTML = html;
            }
        }

        function updateFlag(ctl) {
            if (ctl.id === 'flag-h') {
                mc10.cpu.F_HALFCARRY = ctl.checked ? 1 : 0;
            }
            else if (ctl.id === 'flag-i') {
                mc10.cpu.F_INTERRUPT = ctl.checked ? 1 : 0;
            }
            else if (ctl.id === 'flag-s') {
                mc10.cpu.F_SIGN = ctl.checked ? 1 : 0;
            }
            else if (ctl.id === 'flag-z') {
                mc10.cpu.F_ZERO = ctl.checked ? 1 : 0;
            }
            else if (ctl.id === 'flag-o') {
                mc10.cpu.F_OVERFLOW = ctl.checked ? 1 : 0;
            }
            else if (ctl.id === 'flag-c') {
                mc10.cpu.F_CARRY = ctl.checked ? 1 : 0;
            }
        }

        function updateRegister(ctl) {
            var tmp = parseInt(ctl.value, radix);

            if (ctl.id === 'input-a') {
                mc10.cpu.REG_A[0] = tmp & 0xff;
            }
            else if (ctl.id === 'input-b') {
                mc10.cpu.REG_B[0] = tmp & 0xff;
            }
            else if (ctl.id === 'input-d') {
                mc10.cpu.REG_D[0] = tmp & 0xffff;
            }
            else if (ctl.id === 'input-x') {
                mc10.cpu.REG_IP = tmp & 0xffff;
            }
            else if (ctl.id === 'input-s') {
                mc10.cpu.REG_SP = tmp & 0xffff;
            }
        }

        function arrayBufferToBase64(buffer) {
            var binary = ''
            var bytes = new Uint8Array(buffer)
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i])
            }
            return window.btoa(binary);
        }

        function clientDownload(filename, buffer) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/octet-stream;base64,' + encodeURIComponent(arrayBufferToBase64(buffer)));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        function handleWavFileSelect(evt) {
            var reader = new FileReader();
            var wavReader = function (e) {
                var buffer = reader.result;
                var audioContext = new AudioContext();
                audioContext.decodeAudioData(buffer, function (decoded) {
                    var typedArray = decoded.getChannelData(0);
                    mc10.cassette.playWav(decoded.sampleRate, typedArray);

                });
            };
            var c10Reader = function (e) {
                var buffer = reader.result;
                mc10.cassette.playC10(buffer);
            };
            var txtReader = function (e) {
                var buffer = reader.result;
                mc10.keyboard.quicktype(buffer);
            }
            var playfile = evt.target.files[0];
            var filetype = playfile.name.split('.').pop().toLowerCase();
            reader.onload = filetype == 'wav' ? wavReader :
                filetype == 'c10' ? c10Reader :
                    txtReader;
            reader.readAsArrayBuffer(playfile);
        }

        function loadCassette() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/cassettes/" + $("#cassetteList").val().toUpperCase(), true);
            xhr.responseType = "arraybuffer";
            xhr.onload = function (e) {
                if (this.status == 200) {
                    mc10.loadDirect(this.response);
                }
            };
            xhr.send();
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-880433-14', 'auto');
        ga('send', 'pageview');
    </script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>

</html>