html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: url('/images/bg.jpg') repeat-x 0 0;
}

#screen {
    position: absolute;
    left: 128px;
    top: 80px;
    width: 512px;
    height: 384px;
    z-index: -1;
    border: 30px solid #000;
}

#tv {
    position: relative;
    width: 1000px;
    height: 680px;
    background: url('/images/old-television.png') no-repeat 0 0;
}

#controls {
    position: absolute;
    bottom: 40px;
    left: 155px;
}

#babble-container {
    display: flex;
    position: absolute;
    top: 40px;
    left: 1000px;
}

.babble {
    width: 400px;
    background: #fff;
    border: solid 2px #000;
    padding: 10px;
    margin-right: 20px;
}

#about {
    font-size: 10px;
    position: absolute;
    bottom: -10px;
    left: 350px;
    color: #555;
}

#wavcassette {
    max-width: 142px;
}

#debugger {
    display: flex;
    flex-direction: column;

    display: none;

    position: absolute;
    left: 1000px;
    top: 100px;

    padding: 10px 20px 20px 20px;

    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;

    background: #fff;
    width: 650px;

    border: solid 2px #000;
    box-shadow: #0000008c 2px 2px 10px 0px;
}

#header {
    position: relative;
    margin: 20px 0px 30px 0;
}

#header h2 {
    padding: 0;
    margin: 0;
}

#close {
    position: absolute;
    right: 0;
    top: 10px;
}

#history {
    height: 600px;
    width: 650px;

    overflow-y: scroll;
    overflow-x: hidden;
}

#debugcontrols {
    margin: 20px;
}

#history table td,
#history table th {
    padding: 2px 10px;
    text-align: left;
}

#history table tr:nth-child(1) td:nth-child(1) div::before {
    font: var(--fa-font-solid);
    content: "\f061";
    background-color: red;
    width: 125px;
    padding: 4px;
}

#flags {
    display: flex;
    flex-direction: row;
}

td.cycle {
    text-align: right !important;
}

p {
    font-size: 12px;
    line-height: 16px;
}